body {
    background-color: #F9F7F7;
}

.navbar {
    background-color: #112D4E !important;
}

.navbar .navbar-brand,
.navbar .nav-link,
.navbar .form-control,
.navbar .form-control::placeholder {
    color: #ffffff !important;
}

.navbar .btn-outline-success {
    color: #ffffff !important;
    border-color: #ffffff !important;
}

.navbar .btn-outline-success:hover {
    background-color: #28a745;
    border-color: #28a745;
    color: #ffffff !important;
}

.navbar .form-control::placeholder,
.navbar .form-control {
    color: #112D4E !important;
    transition: box-shadow 0.3s ease-in-out;
}

.navbar .form-control:focus {
    border-color: #112D4E !important;
    box-shadow: 0 0 20px #009688 !important;
}

.navbar .form-control.input-glow {
    box-shadow: 0 0 20px #009688 !important;
}

.btn-secondary {
    background-color: #112D4E !important;
    border-color: #112D4E !important;
    color: #ffffff !important;
}

.btn-secondary:hover {
    background-color: #0a1d33 !important;
    border-color: #0a1d33 !important;
}
